</head>

<div>
<center>
<body>

	<h1 style="margin-bottom: 10px; background-color: gray;">--Sistemas Embebidos--</h1>
	<img id="imagen" src="https://d1yjjnpx0p53s8.cloudfront.net/logounach-01.jpg" alt="user">

	<h1 style="margin-bottom: 10px; background-color: gray;">Sensor_1:</h1><h1 style="margin-bottom: 10px; background-color: whitesmoke;" id="sensor">--</h1>
	<h1 style="margin-bottom: 10px; background-color: gray;">Sensor_2:</h1><h1 style="margin-bottom: 10px; background-color: whitesmoke;" id="sensor1">--</h1>

	<button style="background-color:green; border-radius: 20px; padding: 20px; color:white" id = 'LED1On'type="button" onclick="LED1_On();">
	LED1 ON!</button>
	<button style="background-color:red; border-radius: 20px; padding: 20px; color:white" id = 'LED1Off' type="button" onclick="LED1_Off();">
	LED1_OFF!</button>


</center>
</div>

	<script>
	/*
	function LED1_On() {
		alert("led on");
		console.log("led on");
	  
	}
	function LED1_Off(){
		alert("led off");
		console.log("led off");
	}
	*/
	</script>
	<script src="/static/js/index.js"></script>
</body>
</html>
